<div class="navbar bg-base-100 px-4 lg:px-8 mt-4">
    <div class="navbar-start">
        <a href="/" class="btn btn-ghost btn-circle">
            <h2 class="ml-50 text-4xl">BusinessCorp&trade;</h2>
        </a>
    </div>

    <div class="navbar-end gap-1">
        <a href="/search-bar" class="btn btn-ghost btn-square md:hidden">
            <i class="ti ti-search text-2xl"></i>
        </a>

        {% if session["username"] %}
            <a href="/create-post" class="btn btn-ghost btn-square">
                <i class="ti ti-pencil-plus text-2xl"></i>
            </a>
            <a href="/logout" title="logout" class="btn btn-ghost btn-square">
                <i class="ti ti-logout text-2xl"></i>
            </a>
        {% elif hide_login %}
            {% if is_registration %}
                <a href="/signup" class="btn btn-ghost btn-square">
                    <i class="ti ti-user-plus text-2xl"></i>
                </a>
            {% endif %}
        {% elif hide_sign_up %}
            {% if is_login %}
                <a href="/login/redirect=&" class="btn btn-ghost btn-square">
                    <i class="ti ti-login text-2xl"></i>
                </a>
            {% endif %}
        {% else %}
            {% if is_login %}
                <a href="/login/redirect=&" class="btn btn-ghost btn-square">
                    <i class="ti ti-login text-2xl"></i>
                </a>
            {% endif %}
            {% if is_registration %}
                <a href="/signup" class="btn btn-ghost btn-square">
                    <i class="ti ti-user-plus text-2xl"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</div>
