<!doctype html>
<html
    lang="{{ session.get('language', 'en') }}"
    data-theme="{{ session.get('theme', 'winter') }}"
>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#171717" />

        <!-- Tailwind CSS v4 -->
        <script src="{{ url_for('static', filename='js/tailwindcss-browser-4-min.js') }}"></script>

        <!-- DaisyUI v5 -->
        <link
            href="{{ url_for('static', filename='css/daisyui.css') }}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{{ url_for('static', filename='css/daisyui-themes.css') }}"
            rel="stylesheet"
            type="text/css"
        />

        <!-- Tabler Icons -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/tabler-icons.min.css') }}"
        />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="flaskBlog" />
        <meta
            property="og:image"
            content="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/main/images/Icon180.ico"
        />
        <meta property="og:url" content="{{ request.base_url }}" />
        <meta
            property="og:description"
            content="{{ translations.about.description }}"
        />
        <meta property="og:site_name" content="flaskBlog" />
        <meta name="twitter:site" content="@dogukanurker" />
        <meta name="twitter:title" content="flaskBlog" />
        <meta
            name="twitter:description"
            content="{{ translations.about.description }}"
        />
        <meta
            name="twitter:image"
            content="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/main/images/Icon180.ico"
        />

        {% block head %} {% endblock head %}
    </head>

    <body id="body">
        {% include 'components/change_theme.html'%}
        {% include 'components/navbar.html'%}
        {% from "components/flash.html" import flash %}
        {{ flash() }}
        {% block body %} {% endblock body %}

        <script src="{{ url_for('static', filename='js/time_stamp.js') }}"></script>
    </body>
</html>
